.rambla {
  font-family: "Rambla", serif !important;
}
.ptsans {
    font-family: "PT Sans", serif !important;
}

.rufina {
  font-family: "Rufina", serif !important;
}

.magra {
  font-family: "Magra", serif !important;
}
.archivo-narrow {
  font-family: "Archivo Narrow", serif !important;
  font-optical-sizing: auto !important;
}

.open-sans {
  font-family: "Open Sans", serif !important;
  font-optical-sizing: auto !important;
  font-variation-settings: "wdth" 100;
}

