@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @import "base";
  @import "font";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}


@layer utilities {
  @import "utilities";
}

@import "search";
@import "social-share";
@import "gallery-slider";
@import "images";
@import "toc";
@import "tab";
@import "accordion";
@import "modal";
@import "notice";

@import "module-overrides";

@layer page {
    @import "pki";
    @import "mti";
    @import "mge";
    @import "home";
    @import "about";
    @import "careers";
}

.grid-item {
    display: none;
}

.posts {
  p {
      font-family: "Open Sans", serif !important;
      font-optical-sizing: auto !important;
      font-variation-settings: "wdth" 100;
      word-wrap: break-word;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      unicode-bidi: isolate;
  }
}
