{{ define "main" }}
{{ partial "page-header" . }}
<section class="mge section-0">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-12 lg:col-12">
                <div class="banner">
                    <div class="title">
                        Mewah Sourcing Company
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mge section-1">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-4 lg:col-4">
                <img src="/services/mge/images/t1.jpg" />
            </div>
            <div class="md:col-8 lg:col-8">
                <h3>One-Stop Shopping</h3>
                <p>
                With extensive experience over a decade,
                we have evolved from just simple raw materials supplier into one stop shopping company; from textiles to daily products.
                </p>
            </div>
        </div>
        <div class="row justify-center">
            <div class="md:col-4 lg:col-4">
                <img src="/services/mge/images/t2.jpg" />
            </div>
            <div class="md:col-8 lg:col-8">
                <h3>Developping the Product</h3>
                <p>
                Together with brand owners, we develop the next market product; from concept to reality.
                </p>
            </div>
        </div>
        <div class="row justify-center">
            <div class="md:col-4 lg:col-4">
                <img src="/services/mge/images/t3.jpg" />
            </div>
            <div class="md:col-8 lg:col-8">
                <h3>The Best Solutions</h3>
                <p>
                Multiple locations throughout Asia to provide the best solutions for our partners need.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pki section-4 mt-10 ">
    <div class="container bg-theme-light pb-10">
        <div class="row ">
            <div class="md:col-12 lg:col-12 text-left">
                <div class="content">
                    <h2 class="text-sky-600 text-3xl font-bold">
                        Contact Mewah Sourcing Company
                    </h2>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content pt-5 pl-1">
                    <h3 class="mt-0 pt-0 pl-0 font-bold text-xl ">Indonesia Headquarters</h3>
                    <div class="text">
                        <b class="mr-1">Address:</b>Satrio Tower, Lantai 6, JI. Prof. Dr. Satrio Kav.
                        C-4, Kuningan, Jakarta Selatan 12950
                    </div>
                </div>
            </div>
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content pt-5 pl-1">
                    <h3 class="mt-0 pt-0 pl-0 font-bold text-xl ">Zhuji, Zhejiang Office</h3>
                    <div class="text">
                        <b class="mr-1">Address:</b> 
                        Address: 6th Floor, No 58 Lisanfang Rd Datang Street
                        Zhuji City, Zhejiang, China 311801
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
{{ end }}



