{{ define "main" }}
{{ partial "page-header" . }}
<section class="mge section-0">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-12 lg:col-12">
                <div class="banner">
                    <div class="title">PTMA Konsultan Indonesia
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mge section-1">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-8 lg:col-8">
                <div class="content text-center text-2xl py-8 italic">
Consluting company to offer both companies in Indonesia and also overseas an insight of SEA biggest economy.
We are your preferred partner to help setup operations.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mge section-2 pt-5 border-t border-sky-600 border-solid">
    <div class="container">
        <div class="row">
            <div class="md:col-12 lg:col-12 text-left">
                <div class="content">
                    <h3 class="mt-0 text-sky-600 text-center">One-stop Solution for Indonesian Cross-border E-commerce</h3>
                </div>
            </div>
        </div>

        <div class="row justify-center">
            <div class="md:col-8 lg:col-8">
                <div class="content">
                    <div class="text text-center text-2xl italic">Providing full-process services ranging from warehousing management, order management, logistics services, agency operations, to company registration, and e-commerce store opening.</div>
                </div>
            </div>
        </div>

        
    </div>
</section>
<section class="mge section-3 mt-10">
    <div class="container">
        <div class="row justify-center">
            <div class="services flex flex-row">
                <div class="basis-1/5">
                    <i class="circle1"></i>
                    <div class="title">Agent operation</div>
                </div>
                <div class="basis-1/5">
                    <i class="circle2"></i>
                    <div class="title">Accounting Services</div>
                </div>
                <div class="basis-1/5">
                    <i class="circle3"></i>
                    <div class="title">Legal and Investment</div>
                </div>

                <div class="basis-1/5">
                    <i class="circle4"></i>
                    <div class="title">Human Resources</div>
                </div>
                <div class="basis-1/5">
                    <i class="circle5"></i>
                    <div class="title">Secretarial Services</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mge section-4">
    <div class="container">
        <div class="row">
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content">
                    <h3>Agent operation</h3>
                    <ul>
                        <li>Channel Connection & Operation</li>
                        <li>Market Research & Brand Positioning</li>
                        <li>Store Establishment & Management</li>
                        <li>Marketing Promotion & Brand Building </li>
                        <li>Logistics & Supply Chain Management </li>
                    </ul>

                </div>
                <div class="content">
                    <h3>Accounting Services</h3>
                    <p>
                    By providing services such as daily accounting records, financial statement preparation, budgeting and cost control, financial analysis, and decision support, the goal is to help maximize economic benefits.
                    </p>
                </div>
            </div>
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content">
                    <h3>Legal and Investment Services</h3>
                    <p>
                    Provide enterprises with comprehensive and professional legal and investment support, helping them reduce business risks.
                    </p>
                </div>
                <div class="content">
                    <h3>Human Resources</h3>
                    <p>
                    Assist enterprises in talent planning, employee relations management, and human resource information construction.
                    </p>
                </div>
                <div class="content">
                    <h3>Secretarial Services</h3>
                    <p>
                    Provision of administrative, management, and communication support for businesses.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mge section-4">
    <div class="container">
        <div class="row">
            <div class="md:col-12 lg:col-12 text-left">
                <div class="content">
                    Contact PTMA Konsultan Indonesian
                </div>
            </div>
        </div>
        <div class="row">
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content">
                </div>
            </div>
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content">
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}



