{{ define "main" }}
{{ partial "page-header" . }}
<section class="mti section-0">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-12 lg:col-12">
                <div class="banner">
                    <div class="title">Mewah Tek Indonesia                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mti section-1">
    <div class="container">
        <div class="row justify-center mt-10">
            <div class="md:col-10 lg:col-10">
                <div class="title font-italic text-xl text-center">
                    COMBUY, a cross-border e-commerce platformunder MTI, was first launched on November 1, 2024, with a focus on the Indonesian market.
                </div>
            </div>
            <div class="md:col-10 lg:col-10">
                <div class="text text-sm text-center pt-5">
                    Its business model primarily involves acquiring customers through social platforms, operating private domains, and adopting a group-buying model, where "the more people buy, the lower the price".
                    This model aims to reduce product costs through large-scale procurement and sales, thereby providing consumers with low-priced goods.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mti section-2 mt-10">
    <div class="container">
        <div class="row justify-center gx-1 gy-1">
            <div class="md:col-6 lg:col-3">
                <div class="content bg-theme-light p-2 border border-solid boder-grey-500  md:min-h-[10rem] lg:min-h-[17rem]">
                    <h4 class="text-xl font-bold mx-1 px-0 header1">Price Advantage</h4>
                    <div class="text text-base px-1 ">COMBUY offers highly competitive prices through large-scale procurement
                        and airect sales
                        attracting price-sensitive
                        consumers.</div>
                </div>
            </div>
            <div class="md:col-6 lg:col-3 ">
                <div class="content bg-theme-light p-2 border border-solid boder-grey-500 md:min-h-[10rem] lg:min-h-[17rem] ">
                    <h4 class="text-xl font-bold header2">Product diversity</h4>
                    <div class="text">This platform covers various product categories, including home & garden, pet supplies, clothing, electronics, etc., catering to different needs.</div>
                </div>
            </div>
            <div class="md:col-6 lg:col-3 ">
                <div class="content bg-theme-light p-2 border border-solid boder-grey-500 md:min-h-[14rem] lg:min-h-[17rem] ">
                    <h4 class="text-xl font-bold header3">Intl Strategy</h4>
                    <div class="text">COMBUY's supply chain is globally oriented, providing one-stop entry services for overseas suppliers to swiftly tap into the Indonesian
                        marker.</div>
                </div>
            </div>
            <div class="md:col-6 lg:col-3 ">
                <div class="content bg-theme-light p-2 border border-solid boder-grey-500 md:min-h-[14rem] lg:min-h-[17rem] ">
                    <h4 class="text-xl font-bold header4">Tech & Ops</h4>
                    <div class="text">COMBUY adopts advanced technology and operational strategies, such as a
                        semi-self-managed model, granting merchants more autonomy while providing comprehensive platform support.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mti section-3">
    <div class="container">
        <div class="row justify-center">
            <div class="item md:col-8 lg:col-8">
                <div class="row content border border-solid boder-grey-500 mt-8 px-9 min-h-80 align-middle items-center">
                    <div class="col-8">
                        <h4 class="text-sky-600 mt-0">EXCLUSIVE DISCOUNT</h4>
                        <div class="text">E-COMMERCE PLATFORM THAT FOCUS ON COMMUNITY ENVIRONMENT AND OFFER
                            EXCLUSIVE BARGAINS</div>
                    </div>
                </div>
            </div>
            <div class="item md:col-8 lg:col-8">
                <div class="row content border border-solid boder-grey-500 mt-8 px-9 min-h-80 align-middle items-center">
                    <div class="col-8">
                        <h4 class="text-sky-600 mt-0">A STORE WITHOUT A STORE</h4>
                        <div class="text">OFFERS EVERYONE AN OPPORTUNITY TO BECOME A BUSINESS OWNER.</div>
                    </div>
                </div>
            </div>
            <div class="item md:col-8 lg:col-8">
                <div class="row content border border-solid boder-grey-500 mt-8 px-9 min-h-80 align-middle items-center">
                    <div class="col-8">
                        <h4 class="text-sky-600 mb-5">EXCLUSIVE DISCOUNT</h4>
                        <div class="text">TO OFFER BETTER VALUE FOR OUR COMMUNITY AND AT THE SAME TIME OFFER TWO WAY COMMUNICATIONS TO OUR VENDORS TO GET FASTER MARKET RESPONSE TO BETTER POSITION
                            THEMSELVES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mti section-4 mt-10">
    <div class="container bg-theme-light pb-10">
        <div class="row ">
            <div class="md:col-12 lg:col-12 text-center">
                <div class="content">
                    <h2 class="text-sky-600 text-3xl font-bold">
                    Contact PTMA Konsultan Indonesian
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="md:col-12 lg:col-12 text-center">
                <div class="content pt-5 pl-1">
                    <h3 class="mt-0 pt-0 pl-0 font-bold text-xl ">Indonesia Headquarters</h3>
                    <div class="text text-center">
                        <b class="mr-1">Indonesia Headquarters</b>
                    </div>
                    <div class="text text-center">
Satrio Tower, Lantai 6, JI. Prof. Dr. Satrio Kav.
C-4, Kuningan, Jakarta Selatan 12950
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{{ end }}
