{{ define "main" }}
{{ partial "page-header" . }}
<section class="pki section-0">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-12 lg:col-12">
                <div class="banner">
                    <div class="title">PTMA Konsultan Indonesia
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pki section-1">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-8 lg:col-8">
                <div class="content text-center text-2xl py-8 italic">
Consluting company to offer both companies in Indonesia and also overseas an insight of SEA biggest economy.
We are your preferred partner to help setup operations.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pki section-2 pt-5 border-t border-sky-600 border-solid">
    <div class="container">
        <div class="row">
            <div class="md:col-12 lg:col-12 text-left">
                <div class="content">
                    <h3 class="mt-0 text-sky-600 text-center">One-stop Solution for Indonesian Cross-border E-commerce</h3>
                </div>
            </div>
        </div>

        <div class="row justify-center">
            <div class="md:col-8 lg:col-8">
                <div class="content">
                    <div class="text text-center text-2xl italic">Providing full-process services ranging from warehousing management, order management, logistics services, agency operations, to company registration, and e-commerce store opening.</div>
                </div>
            </div>
        </div>

        
    </div>
</section>
<section class="pki section-3 mt-10">
    <div class="container">
        <div class="row justify-center">
            <div class="services flex flex-row">
                <div class="basis-1/5">
                    <i class="circle1"></i>
                    <div class="title">Agent operation</div>
                </div>
                <div class="basis-1/5">
                    <i class="circle2"></i>
                    <div class="title">Accounting Services</div>
                </div>
                <div class="basis-1/5">
                    <i class="circle3"></i>
                    <div class="title">Legal and Investment</div>
                </div>

                <div class="basis-1/5">
                    <i class="circle4"></i>
                    <div class="title">Human Resources</div>
                </div>
                <div class="basis-1/5">
                    <i class="circle5"></i>
                    <div class="title">Secretarial Services</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pki section-4 mt-10">
    <div class="container">
        <div class="row">
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content mt-6 pt-0 shadow-md border-grey-600 border border-solid p-0">
                    <div class="border-t-[8px] border-solid border-yellow-600 p-3">
                        <h3 class="mt-0 pt-0 text-2xl text-yellow-600 pl-0">Agent operation</h3>
                        <ul>
                            <li>Channel Connection & Operation</li>
                            <li>Market Research & Brand Positioning</li>
                            <li>Store Establishment & Management</li>
                            <li>Marketing Promotion & Brand Building </li>
                            <li>Logistics & Supply Chain Management </li>
                        </ul>
                    </div>

                </div>
                <div class="content mt-6 pt-0 shadow-md border-grey-600 border border-solid p-0">
                    <div class="border-t-[8px] border-solid border-yellow-600 p-3">
                    <h3 class="mt-0 pt-0 text-2xl text-yellow-600 pl-0">Accounting Services</h3>
                    <p>
                    By providing services such as daily accounting records, financial statement preparation, budgeting and cost control, financial analysis, and decision support, the goal is to help maximize economic benefits.
                    </p>
                    </div>
                </div>
            </div>
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content mt-6 pt-0 shadow-md border-grey-600 border border-solid p-0">
                    <div class="border-t-[8px] border-solid border-yellow-600 p-3">
                    <h3 class="mt-0 pt-0 text-2xl text-yellow-600 pl-0">Legal and Investment Services</h3>
                    <p>
                    Provide enterprises with comprehensive and professional legal and investment support, helping them reduce business risks.
                    </p>
                    </div>
                </div>
                <div class="content mt-6 pt-0 shadow-md border-grey-600 border border-solid p-0">
                    <div class="border-t-[8px] border-solid border-yellow-600 p-3">
                    <h3 class="mt-0 pt-0 text-2xl text-yellow-600 pl-0">Human Resources</h3>
                    <p>
                    Assist enterprises in talent planning, employee relations management, and human resource information construction.
                    </p>
                    </div>
                </div>
                <div class="content mt-6 pt-0 shadow-md border-grey-600 border border-solid p-0">
                    <div class="border-t-[8px] border-solid border-yellow-600 p-3">
                    <h3 class="mt-0 pt-0 text-2xl text-yellow-600 pl-0">Secretarial Services</h3>
                    <p>
                    Provision of administrative, management, and communication support for businesses.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pki section-4 mt-10 ">
    <div class="container bg-theme-light pb-10">
        <div class="row ">
            <div class="md:col-12 lg:col-12 text-left">
                <div class="content">
                    <h2 class="text-sky-600 text-3xl font-bold">
                    Contact PTMA Konsultan Indonesian
                    </h2>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content pt-5 pl-1">
                    <h3 class="mt-0 pt-0 pl-0 font-bold text-xl ">Indonesia Headquarters</h3>
                    <div class="text">
                        <b class="mr-1">Address:</b>Satrio Tower, Lantai 6, JI. Prof. Dr. Satrio Kav.
                        C-4, Kuningan, Jakarta Selatan 12950
                    </div>
                </div>
                <div class="content pt-5 pl-1">
                    <h3 class="mt-0 pt-0 pl-0 font-bold text-xl ">Taipei Office</h3>
                    <div class="text">
                        <b class="mr-1">Address:</b> 6th Floor, No. 123, Section 4, Bade Road, Songshan District, Taipei City
                    </div>
                    <div class="text">
                        <b class="mr-1">Tel:</b> +886-2-66058228
                    </div>
                    <div class="text">
                        <b class="mr-1">Email:</b> Email: service@ptmadvisory.com
                    </div>
                </div>
            </div>
            <div class="md:col-6 lg:col-6 text-left">
                <div class="content pt-5 pl-1">
                    <h3 class="mt-0 pt-0 pl-0 font-bold text-xl ">Shanghai Office</h3>
                    <div class="text">
                        <b class="mr-1">Address:</b> 
                        Unit 803BC, Gubei International Fortune Center,
                        1438 Hongqiao Road, Hongqiao Street, Changning District,
                        Shanghai

                    </div>
                    <div class="text">
                        <b class="mr-1">Tel:</b> 
                        +86-21-52288829
                    </div>
                    <div class="text">
                        <b class="mr-1">Email:</b> Email: service@ptmadvisory.com
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
{{ end }}




