{{ define "main" }}
<section class="">
    <div class="container">
        <div class="row">
            <div class="md:col-8 lg:col-8 text-left">
                <div class="content">
                    <h2 class="text-xl">
                    Mewah Global Enterprise
                    </h2>

                    <p class="my-0">
                    T. Mewah started in 1985, from a small textile manufacturing company to now a fully oriented company.
                    </p>
                    <p class="my-0">
                    PT. Mewah evolves from a small single factory into a multi-national company with services incorporated in 3 different countries.
                    </p>
                </div>
            </div>
            <div class="md:col-4 lg:col-4 text-left">
                <div class="content">
                    Mewah Global Enterprise

                    T. Mewah started in 1985, from a small textile manufacturing company to now a fully oriented company.
                    PT. Mewah evolves from a small single factory into a multi-national company with services incorporated in 3 different countries.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="md:col-12 lg:col-12 text-left">
                <div class="content">
                    <h2 class="text-xl">
                        History of Mewah Global Enterprise 
                    </h2>

                    <div class="p-title">
                        1985:
                    </div>
                    <p class="my-0">
                    Mewah Global Enterprise was born, pioneering the exploration of index investment and quantitative investment strategies, and dedicating itself to the research, development, and application of risk management and portfolio management technologies. While simplifying investment strategies, it promoted transparency in investments.
                    </p>


                    <div class="p-title">
                        In the 1990s:
                    </div>
                    <p class="my-0">
                    We issued the industry's first target-date fund, helping millions of people retire comfortably.
                    </p>

                    <div class="p-title">
                        Since the 2000s:
                    </div>
                    <p class="my-0">
                    We combined alpha strategies with index investment strategies, thereby providing clients with more comprehensive investment solutions.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="md:col-12 lg:col-12 text-left">
                    <div class="content">
                        <h2 class="text-xl">
                            Company Structure
                        </h2>

                        <div class="p-title">
                            PTMA Konsultan Indonesia
                        </div>
                        <p class="my-0">
                        With extensive experience over a decade, we have evolved from just simple raw materials supplier into one stop shopping company; from textiles to daily products.
                        </p>
                        <p class="my-0">
                        Together with brand owners, we develop the next market product; from concept to reality.
                        </p>
                        <p class="my-0">
                        Multiple locations throughout Asia to provide the best solutions for our partners need.
                        </p>

                        <div class="p-title">
                            Mewah Tek Indonesia
                        </div>
                        <p class="my-0">
                        With extensive experience over a decade, we have evolved from just simple raw materials supplier into one stop shopping company; from textiles to daily products.
                        </p>
                        <p class="my-0">
                        Together with brand owners, we develop the next market product; from concept to reality.
                        </p>
                        <p class="my-0">
                        Multiple locations throughout Asia to provide the best solutions for our partners need.
                        </p>

                        <div class="p-title">
                            Mewah Sourcing Company
                        </div>
                        <p class="my-0">
                        With extensive experience over a decade, we have evolved from just simple raw materials supplier into one stop shopping company; from textiles to daily products.
                        </p>
                        <p class="my-0">
                        Together with brand owners, we develop the next market product; from concept to reality.
                        </p>
                        <p class="my-0">
                        Multiple locations throughout Asia to provide the best solutions for our partners need.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{{ end }}

