{{ define "main" }}
<section class="home section-0">
    <div class="container">
        <div class="row justify-center">
            <div class="swiper testimonial-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            class="row bg-theme-light rounded-lg px-7 py-10 banner banner01 align-middle items-center">
                            <div class="md:col-6 lg:col-4">
                                <h4 class="ptsans font-semibold text-3xl"> Active Patience.
                                    Independent Thinking.
                                    Focused Expertise.
                                    Long Term Partnership
                                </h4>
                                <div class="readmore archivo-narrow">
                                    <a class="inline-block mt-5 px-2 text-white " href="#">READ MORE</a>
                                </div>
                            </div>
                            <div class="md:col-6 lg:col-8 align-middle items-center open-sans italic">
                                We are committed to providing world-leading digital foreign trade services, helping every enterprise become a multinational corporation.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="row bg-theme-light rounded-lg px-7 py-10 banner banner01 align-middle items-center">
                            <div class="md:col-6 lg:col-4">
                                <h4 class="ptsans font-semibold text-3xl"> Active Patience.
                                    Independent Thinking.
                                    Focused Expertise.
                                    Long Term Partnership
                                </h4>
                                <div class="readmore archivo-narrow">
                                    <a class="inline-block mt-5 px-2 text-white " href="#">READ MORE</a>
                                </div>
                            </div>
                            <div class="md:col-6 lg:col-8 align-middle items-center open-sans italic">
                                We are committed to providing world-leading digital foreign trade services, helping every enterprise become a multinational corporation.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="row bg-theme-light rounded-lg px-7 py-10 banner banner01 align-middle items-center">
                            <div class="md:col-6 lg:col-4">
                                <h4 class="ptsans font-semibold text-3xl"> Active Patience.
                                    Independent Thinking.
                                    Focused Expertise.
                                    Long Term Partnership
                                </h4>
                                <div class="readmore archivo-narrow">
                                    <a class="inline-block mt-5 px-2 text-white " href="#">READ MORE</a>
                                </div>
                            </div>
                            <div class="md:col-6 lg:col-8 align-middle items-center open-sans italic">
                                We are committed to providing world-leading digital foreign trade services, helping every enterprise become a multinational corporation.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slider-pagination flex items-center justify-center text-center"></div>
            </div>
        </div>
    </div>
</section>
<section class="home section-1 mt-6">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-11 lg:col-8">
                <h3 class="rambla mb-2 text-sky-600 text-center">What We Do</h3>
                <p class="open-sans italic">
                PT. Mewah started in 1985, from a small textile manufacturing company to now a fully oriented company, evolves from a small single factory into a multi-national company with services incorporated in 3 different countries.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="home section-2 mt-6">
    <div class="container md:px-10">
        <div class="row justify-center g-2 sm:g-2 md:g-3 lg:g-5">
            <div class="col-4 md:col-4 lg:col-4 xl:col-3">
                <div class="item item1 pt-[15rem] md:pt-[18rem] lg:pt-[20rem]">
                    <div class="py-2 title bg-home magra font-normal text-center text-white text-sm">Mewah Sourcing Company</div>
                </div>
            </div>
            <div class="col-4 md:col-4 lg:col-4 xl:col-3">
                <div class="item item2 pt-[15rem] md:pt-[18rem] lg:pt-[20rem]">
                    <div class="py-2 title bg-home magra font-normal text-center text-white text-sm">PTMA Konsultan Indonesia</div>
                </div>
            </div>
            <div class="col-4 md:col-4 lg:col-4 xl:col-3">
                <div class="item item3 pt-[15rem] md:pt-[18rem] lg:pt-[20rem]">
                    <div class="py-2 title bg-home magra font-normal text-center text-white text-sm">Mewah Tek Indonesia</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home section-3 mt-6">
    <div class="container bg-theme-light  md:p-10 lg:p-15 ptsans">
        <ul>
            {{range ( where .Site.RegularPages.ByDate "Section" "news" | first 5 )}}
            <li class="row py-2">
                <div class="col-1">
                    NEW
                </div>
                <div class="col-3">
                    {{ time.Format ":date_long" .PublishDate }}
                </div>
                <div class="col-8">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</section>
<section class="home section-4 mt-6">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-6 lg:col-6">
                <h3 class="rambla mb-2 text-sky-600 text-center">Our Partners</h3>
                <p class="open-sans italic text-center">
                We are committed to building long-term partnerships.
                </p>
            </div>
        </div>
        <div class="row justify-center">
            <div class="md:col-2 lg:col-2">
            </div>
            <div class="md:col-2 lg:col-2">
            </div>
            <div class="md:col-2 lg:col-2">
            </div>
            <div class="md:col-2 lg:col-2">
            </div>
        </div>
    </div>
</section>
{{ end }}
