{{ define "main" }}
<section class="content-header">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-12 lg:col-12 text-center">
                <div class="content">
                    asdasdsd
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row justify-center">
            <div class="md:col-12 lg:col-12 ">
                <div class="content">
                    asdsad  ID
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}





